
<footer class="site-footer">
    <% if (config.rss || config.feed) {  %>
    <a class="subscribe icon-feed" href="<%= (config.rss || config.feed.path) %>"><span class="tooltip">Subscribe!</span></a>
    <% } %>
    <div class="inner">
        <section class="copyright"><a href="<%- config.root %>"></a>Copyright &copy; 2014-2015 Ian Macalinao</section>
        <section class="poweredby">Published with <a target="_blank" href="http://hexo.io/">Hexo</a></div>
</footer>
</div>
</div><!-- /scroller -->

</div><!-- /pusher -->
</div><!-- /container -->
</div>

<script src="//simplyian.disqus.com/embed.js"></script>
